/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px !important;
}
.relative{
    position: relative;
    height: 100%;
    width: 100%;
}
$T: var(--T);
$S: var(--S);
$Z: var(--Z);
$I: var(--I);
$L: var(--L);
$J: var(--J);
$O: var(--O);